a {
    color: #D03F31;
}

a:hover,
a:active, a:focus {
    color: #2f6f64;
}

a:visited {
    color: #cc4d41;
}

.wy-nav-content {
    max-width:1400px;
}

.wy-side-nav-search {
    background-color: #541D1D;
}

.wy-side-nav-search input[type=text] {
    border-color: #541D1D;
}

.wy-side-nav-search>a, 
.wy-side-nav-search .wy-dropdown>a {
    color: #fff !important;
}

.wy-menu-vertical a {
    color: #EEE8DF;
}

.wy-menu-vertical a:active {
    background-color: #628C85;
}

.wy-menu-vertical a:hover {
    color: #d9d9d9;
}

.wy-menu-vertical p.caption {
    color: white;
}

/* Workaround for mkdocs RTD theme bug: apply theme styles */
.rst-content table {
    width: 100%;
    margin-bottom: 24px;
}

.rst-content thead {
    text-align: left;
}

.rst-content td, .rst-content th {
    font-size: 90%;
    padding: 8px 16px;
}

.rst-content tr:nth-child(2n-1) td {
    background-color: #f4f6f6;
}

.rst-content td {
    vertical-align: middle;
}

.rst-content img {
	border:1px solid #222;
	display:block;
	margin:0 auto;
}

.rst-content div[role="main"] a {
    font-weight:500;
    border-bottom: 1px dotted;
}

.rst-content a:hover, .rst-content a:active, .rst-content a:focus {
    text-decoration:underline;
}

.rst-content code, code {
    font-size:revert;
    color:revert;
}

footer {
	color:#111;
}

.rst-content .note .admonition-title {
	background-color:#1C5982;
}

.rst-content .note.admonition a {
	color:#C3392C;
}
