a {
    color: #628C85;
}

a:hover,
a:active {
    color: #2f6f64;
}

a:visited {
    color: #91a2a0;
}

.wy-side-nav-search {
    background-color: #541D1D;
}

.wy-side-nav-search input[type=text] {
    border-color: #541D1D;
}

.wy-side-nav-search>a, 
.wy-side-nav-search .wy-dropdown>a {
    color: #fff !important;
}

.wy-menu-vertical a:active {
    background-color: #628C85;
}

/* Workaround for mkdocs RTD theme bug: apply theme styles */
.rst-content table {
    width: 100%;
    margin-bottom: 24px;
}

.rst-content thead {
    text-align: left;
}

.rst-content td, .rst-content th {
    font-size: 90%;
    padding: 8px 16px;
}

.rst-content tr:nth-child(2n-1) td {
    background-color: #f4f6f6;
}

.rst-content td {
    vertical-align: middle;
}
